header {
    width: 100%;
    height: 5.4%;
    min-height: 50px;
    position: fixed;
    top: 0;
    z-index: 2;
}

.main {
    margin-top: 50px;
    background-color: white;
    height: auto;
}

h1 {
    text-align: center;
}